@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Source+Sans+Pro:300,400,600,700');


@font-face {
    font-family: 'museo_slab500';
    src: url('../fonts/museo_slab_0-webfont.woff2') format('woff2'),
         url('../fonts/museo_slab_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museo_slab700';
    src: url('../fonts/museo_slab_1-webfont.woff2') format('woff2'),
         url('../fonts/museo_slab_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* CSS Document */
/*Table of Content

-body
-.topbar
	-.social_top

-header
	-.header_top
		-.company_info
	-.navbar-sticky
		-.attr-nav
		-.navbar-menu
-#search
-.rev_slider_wrapper
-owl-slider

-#about
	-.icon_box
	-.about_box
	-.priorty
		-.about_post

-#courses
	-.image

-#facts
	-.number-counters
		-.counters-item

-#pricing
	-.pricing
		-.pricing_item
			-.item
				-.content_wrap

-#reviews
	-#review_slider
		-.client_name

-#parallax
-.parallax

-#news
	-.news_box
		-.comment

-.page_header
	-.page_nav

-#history
	-.history_wrap

-#counter

-#tours
	-.tour_media
		-.tour_feature
		-.tour_body

-#teachers
	-.director_slider

-.error

-#blog
	-.blog_item
		-.blog_newest
	-.findus
	-.pager_nav
		-.pagination
	-.sidebar
		-.widget
		-.widget_search
		-.category
		-.tags

-#contact
	-.contact_address
		-.address
-#map

-#faq
	-.faq_content
		-.items
			-.sub_items

-#gallery
	-.projects
		-.cbp-item
			overlay
				-centered

-#shop
	-.shopping_box
		-.shop_content
			-.price_product
	-.shop_info
		-.quote
		-.tag_cate
		-.share
	-.shop_tab
		-.tabs
		-.tab_container
			-.tab_content
				-.commentlist
					-.avator
					-.comment-content
				-.rating
				-.review-form
	-.related_pro
	-.cart_table
		-.table-responsive
			-.product-name
	-.apply_coupon
		-.coupon
	-.totals
		-.total_form
			-.select

-#testinomila_page
	-.js-grid-masonry
	-.cbp
		-.cbp-item
			-.cbp-caption-defaultWrap
				-.testimonial_wrap
					-.testimonial_text
						-.testimonial_pic
							-.color
							-.post_img

-footer
-.footer_panel
-.copyright


*/



/*General Styling*/

body{
	padding:0;
	margin:0;
	color:#0f0f0f;
	line-height:1.5em;
	font-size:1em;
	overflow-x: hidden;
	font-family: 'Source Sans Pro';
}
body,html{
	height:100%;
	width:100%;
	font-size:99%;
	position: relative;
}
/*Share Common Font Family*/
#rev_slider h1, #rev_slider_full h1, #rev_slider_video h1, #text_rotator h1, h3, .page_header .page-content h1, .aboutus h4, .events h4, .items > li > a, #error .error h1,
.shopping_box h4, .shop_tab .tabs li, .pushmenu .push_nav > li > a > span{
	font-family: 'museo_slab500';
}
h2, #about .priorty .about-post h4, .icon_box h4, .contact_address .address h4, .number-counters .counters-item strong,  #parallax h1,
.reviews .review_left strong, #error .error h2,
.shopping_box h4.price_product, .cart_table .price_product, .cart_table .product-name h4,
nav.bootsnav .megamenu-content .title{
	font-family: 'museo_slab700';
}

p{
	font-family: 'Roboto', sans-serif;
	font-size:1em;
  text-align: justify;
}

ol, ul{
	margin:0;
	padding:0;
	list-style:none;
}
::-webkit-input-placeholder, .form-control::-webkit-input-placeholder{
   color:#b5b5b5;
}
:-moz-placeholder, .form-control:-moz-placeholder{
   color:#b5b5b5;
}
::-moz-placeholder, .form-control::-moz-placeholder{
   color:#b5b5b5;
}
:-ms-input-placeholder, .form-control:-ms-input-placeholder{
   color:#b5b5b5;
}
textarea::-webkit-input-placeholder{
   color:#b5b5b5;
	opacity:1;
}
textarea:-moz-placeholder{
   color:#b5b5b5;
	opacity:1;
}
textarea::-moz-placeholder{
   color:#b5b5b5;
	opacity:1;
}
textarea:-ms-input-placeholder{
   color:#b5b5b5;
	opacity:1;
}
textarea{
	resize:none;
	box-shadow:0 0;
}
label {
	font-weight:normal;
	margin:0;
}

.form-control{
	box-shadow:0 0;
}
.form-control:focus, textarea:focus{
  border-color: #4587d9;
  box-shadow: 0 0;
}
a{
	color: inherit;
}
a, a:hover, a:focus{
	outline:none;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
h1{
	font-size:3.000em;
}
h2{
	font-size:2.000em;
}
h3{
	font-size:1.500em;
}
h4{
	font-size:1.125em;
}
p{
	color:#5b5b5b;
	line-height:normal;
}
.padding{
	padding-bottom:90px;
	padding-top:90px;
}
.padding-top{
	padding-top:90px;
}
.padding-bottom{
	padding-bottom:90px;
}
.padding-bottom-half{
	padding-bottom:45px;
}
.heading_space {
  margin-bottom: 45px;
}
.bottom25{
	margin-bottom:25px;
}
.top25{
	margin-top:25px;
}
.top30{ margin-top:30px;}
.margin_tophalf{
	margin-top:45px;
}
.margin10{
	margin-top:15px;
}
.bottom5{ margin-bottom:5px;}
.margin_top{
	margin-top:90px;
}
.bottom20{ margin-bottom:20px;}
.top20{ margin-top:20px;}
.bottom15{ margin-bottom:15px;}
.no_bottom{ margin-bottom:0;}

.bg_light{
	background:#f3f3f3;
}
.bg_grey{
	background-color:#ebeff2;
}
.color{
	color:#ffb600;
}
.bg_blue{
	background-color:#0798bc;
}
.border_radius{
	-webkit-border-radius:4px;
	border-radius:4px;
}
.heading{
	border-bottom:1px solid #dadada;
	display:inline-block;
}
.heading .divider-left, .heading .divider-center{
	height:4px;
	width:70px;
	background:#ffb600;
	display: block;
}
.heading .divider-left {
  margin: 10px 0 -2px;
}
.heading .divider-center{
	margin:10px auto -2px;
}

/*** Buttons ***/
.btn-dark{
	border:1px solid #0f0f0f;
	background:#0f0f0f;
}
.btn-dark, .btn-light, #parallax a{
	color:#fff;
}
#parallax a, .btn_common{
	padding:10px 30px;
	display: inline-block;
	font-weight:bold;
	font-size:13px;
	text-transform:uppercase;
	position:relative;
	z-index:1;
	overflow:hidden;
}
.btn_common:after{
  position: absolute;
  height:100%;
  left:0; right:0;
  overflow:hidden;
  opacity: 0;
  top:0;
  border-radius:4px;
  white-space:nowrap;

  -moz-transform:scale(1, 0.5);
  -ms-transform:scale(1, 0.5);
  -o-transform:scale(1, 0.5);
  -webkit-transform:scale(1, 0.5);
  transform:scale(1, 0.5);
  width: 100%;
  z-index: -1;
  content:'';
}
.btn_common:hover::after, .btn_common:focus::after,
#course_slider .item:hover .btn_common.blue:after,
.course:hover .btn_common.yellow:after,
.blog_item:hover .btn_common:after{
  opacity: 1;
  -moz-transform:scale(1, 1);
  -ms-transform:scale(1, 1);
  -o-transform:scale(1, 1);
  -webkit-transform:scale(1, 1);
  transform:scale(1, 1);
}

.blue,
.btn_common.yellow:after,
.btn_common.btn_border:after,
.search_btn:after{
	background:#4587d9
}
.blue,
.btn_common.yellow:hover, .btn_common.yellow:focus,
.btn_common.btn_border:hover, .btn_common.btn_border:focus,
.btn_common.white_border:hover, .btn_common.white_border:focus,
.search_btn:hover, .search_btn:focus,
.blog_item:hover .btn_common.btn_border{
	border:1px solid #4587d9;
}

.yellow,
#course_slider .item:hover .btn_common.blue,
.btn_common.white_border:hover,
.btn_common.white_border:focus,
.btn_common.blue:hover, .btn_common.blue:focus{
	border:1px solid #ffb600;
}
.yellow, .btn_common.blue:after, .btn_common.white_border:after{
	background:#ffb600
}
.white_border{
	border:1px solid #fff;
}
.btn_border{ border:1px solid #0f0f0f;}
.red, .btn_common.blue:after, .btn_common.white_border:after{
	background:#c32f38;
}

.yellow, .yellow:hover, .yellow:focus,
.white_border, .white_border:hover, .white_border:focus,
.btn_border:hover, .btn_border:focus,
.blue, .blue:hover, .blue:focus,
.blog_item:hover .btn_common.btn_border{
	color:#fff;
}
.readmore{
	font-size:15px;
	color:#282828;
	font-weight:bold;
	text-decoration:underline;
	text-transform:uppercase;
	padding-bottom:2px;
}
.readmore:hover, .readmore:focus,
.commment li a:hover, .commment li a:focus{
	color:#4587d9;
}

.image, .image img{
	position:relative;
}
.image img{
	-moz-transition:all .8s ease;
	-ms-transition:all .8s ease;
	-o-transition:all .8s ease;
	-webkit-transition:all .8s ease;
	transition:all .8s ease;
	width:100%;
}
.image{ overflow:hidden;}
.image:hover img,
.events:hover .image img,
.course:hover .image img,
#course_slider .item:hover img,
.teacher:hover .image img{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}




/*** WIDGET ***/
aside.sidebar{
	padding:15px;
}
/* useful links */
ul.links{}
ul.links li, ul.social_icon li, .widget .tags > li, .commment li{
  display: inline-block;
}
ul.links li {
  width: 49%;
}
ul.links li a{
  color: #ffffff;
  margin-bottom:15px;
  margin-left: 15px;
  display:block;
}
ul.links li a, ul.bullet_list li{
	font-size: 14px;
}
ul.links li a > i {
  display: inline-table;
  margin-right: 5px;
  vertical-align: middle;
  width: 10px;
  margin-left: -15px;
}
ul.links li a:hover, ul.links li a:focus{
	color:#ffb600;
}

/* useful links */
ul.bullet_list li{ margin-bottom:15px; margin-left:10px;}
ul.bullet_list li:before{
	content:'';
	height:5px; width:5px;
	margin-left:-10px;
	background:#5b5b5b;
	display:inline-block; vertical-align:middle;
	margin-right:5px; border-radius:100%;
}

/* Social Icons */
ul.social_icon{}
ul.social_icon li a{
  color: #0f0f0f;
  display: block;
  font-size:16px;
  height:36px;
  line-height:38px;
  text-align: center;
  width:36px;
  border-radius:4px;
  position:relative;
  z-index:1;
 -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,1);
}

ul.social_icon.black li a{
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,1);

}
ul.social_icon li a.facebook:after{
  background:#3b5998;
}
ul.social_icon li a.twitter:after{
  background:#00aced;
}
ul.social_icon li a.dribble:after{
  background:#ea4c89;
}
ul.social_icon li a.instagram:after{
  background:#517fa4;
}
ul.social_icon li a.vimo:after{
  background:#4EBBFF;
}
ul.social_icon li a:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background:#f7c51e;
  transition:.4s;
  border-radius:4px;
  opacity: 0;
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  color:#fff;
  z-index:-1;
}
ul.social_icon li a:hover:after{
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
ul.social_icon li a:hover {
  color:#fff;
  -webkit-box-shadow:none;
  -o-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
/*Useful Tags*/
.widget .tags > li a {
  border: 1px solid #bababa;
  color: #5b5b5b;
  display: block;
  font-size: 12px;
  margin-bottom:2px;
  padding:5px 9px;
  background:#fff;
}
.widget .tags > li a:hover, .widget .tags > li a:focus{
	background:#4587d9;
	border-color:#4587d9;
	color: #fff;
}
p.hours{
	color:#5b5b5b;
	font-size:14px;
	margin-bottom:15px;
}
p.hours span{
	float:right;
}
p.hours a{
	font-size:10px; font-weight:bold;
	color:#fff;
	padding:5px 10px;
	background:#f57246;
}
/*Comments & Date*/
.commment li{
	margin-left:10px;
}
.commment li:first-child{
	margin-left:0;
}
.commment li a{
	display:block;
	color:#454545;
	font-size:14px;
}
.commment li a > i{
  font-size: 18px;
  margin-right: 5px;
  vertical-align: middle;
  color:#4587d9;
}
/*Pagination*/
.pager_nav .pagination{
	margin:0;
}
.pager_nav .pagination > li > a, .pager_nav .pagination > li > span{
  color: #0f0f0f;
  border:none;
}
.pager_nav .pagination > li > a:focus, .pager_nav .pagination > li > a:hover{
  background-color: transparent;
  color:#ffb600;
}


/*Profile Image*/
.profile_bg{
	background:#f2f2f2;
	box-shadow:0 0 2px #c8c8c8;
	border-radius:2px;
	padding:20px;
}
.profile_border{
	border-top:1px solid #c8c8c8;
}
.profile_border:last-child{
	border-bottom:1px solid #c8c8c8;
}
.profile{
	background:#fff; padding:15px;
	display:table;
	border-radius:2px;
}
.profile .p_pic, .profile .profile_text{ display:table-cell;}
.profile .p_pic{ width:100px;}
.profile .p_pic img{ width:90px;}
.profile_text{ vertical-align:top; padding-right:10px;}
.profile_text h5{ margin-bottom:8px;}
.profile_text strong{ color:#ffb600; font-size:14px;}
.profile_text span{ color:#5b5b5b; font-size:13px;}

.reviews .review_left{
	border:1px solid #c8c8c8;
	padding:20px 10px;
}
.reviews .review_left strong{ color:#a2a2a2; font-size:60px; line-height:50px;}
.reviews .review_left form.star_rating .stars{ margin: 0 auto;}

.rating_progress .progress, .rating_progress span{
	float:left;
}
.rating_progress span{ font-size:14px; margin-top:-5px;}
.rating_progress .progress{
  background-color:#f2f2f2;
  border:0;
  height:12px;
  margin:0px 10px 20px 10px;
  width:270px;
  border-radius:3px;
  box-shadow:none;
}
.rating_progress .progress-bar{ background:#ffb600;}



/*Search*/
#search{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.95);
    opacity: 0;
}
#search.open {
    opacity: 1;
	 z-index:1000;
	 width: 100%;
    height: 100%;
}
#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color:#fff;
    background: rgba(0, 0, 0, 0);
    font-size:40px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close{
  background-color: #ffb600;
  border-color: #ffb600;
  border-radius: 3px;
  color: #ffffff;
  font-size: 21px;
  opacity: 1;
  padding: 0 0px 4px;
  position: fixed;
  right: 15px;
  top: 15px;
  height: 30px;
  width: 32px;
  text-align: center;
}


/*Star  rating*/
form.star_rating .stars {
  background: url("../images/star.png") repeat-x 0 0;
  width:112px;
  margin:0;
}
.ie7 form .stars {
  *zoom:1;
}
form.star_rating .stars:before,
form.star_rating .stars:after {
  display: table;
  content: "";
}
form.star_rating .stars:after {
  clear: both;
}
form.star_rating .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form.star_rating .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
form.star_rating .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
form.star_rating .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
form.star_rating .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
form.star_rating .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
form.star_rating .stars label{
  display: block;
  width:20px;
  height:20px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
form.star_rating .stars label:hover ~ span{
  background-position: 0 -21px;
}
form.star_rating .stars label.star-5:hover ~ span{
  width: 100% !important;
}
form.star_rating .stars label.star-4:hover ~ span{
  width: 80% !important;
}
form.star_rating .stars label.star-3:hover ~ span{
  width: 60% !important;
}
form.star_rating .stars label.star-2:hover ~ span{
  width: 40% !important;
}
form.star_rating .stars label.star-1:hover ~ span{
  width: 20% !important;
}
form.star_rating .stars span{
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height:20px;
  background: url("../images/star.png") repeat-x 0 -44px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}





.widget p.address > i {
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;
  vertical-align: bottom;
}

ul.comment{}
ul.comment li{
	display:inline-block;
	margin-left:15px;
}
ul.comment li:first-child{
	margin-left:0;
}
ul.comment li a{
	color:#5b5b5b;
	font-size:12px;
	display:block;
}
ul.comment li a > i{
  font-size: 18px;
  color:#4587d9;
  margin-right: 3px;
  vertical-align: middle;
}
.widget_search{
	background:#d8dadb;
	padding:5px;
	width:100%;
}
.widget_search .form-control{
	height:42px;
}
.widget_search .input-group-addon {
  background: #ffb600;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 24px;
  margin: 5px;
  padding: 0 5px;
  cursor: pointer;
}
.single_post{
	overflow:hidden;
}
.single_post p{
	margin-bottom:0;
}
.single_post > img {
  display: table-cell;
  float: left;
  margin-right: 10px;
  vertical-align: middle;
}
/*Back to top Button*/
.scrollToTop{
  width:32px;
  height:32px;
  border-radius:4px;
  text-align:center;
  font-weight: bold;
  line-height:26px;
  font-size:25px;
  position:fixed;
  z-index:1000;
  bottom:16px;
  right:40px;
  display:none;
  background:#ffb600;
}
.scrollToTop:hover{
	background:#4587d9;
}
.scrollToTop, .scrollToTop:hover, .scrollToTop:focus{
	color: #fff;
}


.scrollToTop, a, .btn_common:after,
.search_btn > span, .icon_box,
.owl-theme .owl-controls .owl-buttons div,
.tparrows, #director_slider .post, .teacher .post,
.items > li > a:hover,  .items > li > a.expanded,
 ul.tabs li, .shop_tab .tabs li, .overlay,
.pushmenu-push, #menu_bars span, .pushmenu .push_nav > li,
pricing_item, #search, #search.open,
.about_box:hover, .about_box img,
input,
.pushmenu .push_nav > li > a span{
  -moz-transition:all .3s ease;
  -ms-transition:all .3s ease;
  -o-transition:all .3s ease;
 -webkit-transition:all .3s ease;
}



/* ----------- TOPBAR ------------*/
.topbar{
	background:#0f0f0f;
	color:#fff;
	font-size:14px;
}
.topbar ul.social_top{
	text-align:right;
	display:inline-block;
}
.topbar ul.social_top li{
	display:inline-block;
	margin-left:-3px;
}
.topbar ul.social_top li:first-child a{
	border-left:1px solid #3f3f3f;
}
.topbar ul.social_top li a {
  border-right: 1px solid #3f3f3f;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 30px;
  padding: 5px;
  text-align: center;
  width: 36px;
}
.topbar ul.social_top li a:hover, .topbar ul.social_top li a:focus{
	background:#ffb600;
	border-color:#ffb600;
	color:#fff;
}
.topbar span.info {
  display: inline-block;
  padding-right:20px;
  margin:8px 0;
}
.topbar span.info > i {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 23px;
}
/* ----------- TOPBAR Ends ------------*/



/* ------------ HEADER ------------- */
header{}

/*Navigation*/
nav.navbar.bootsnav{
  z-index:999;
  border: none;
  box-shadow: none;
  -moz-box-shadow:0 3px 3px -3px rgba(0,0,0,.35);
  -o-box-shadow:0 3px 3px -3px rgba(0,0,0,.35);
  -webkit-box-shadow:0 3px 3px -3px rgba(0,0,0,.35);
  box-shadow:0 3px 3px -3px rgba(0,0,0,.35);
}
nav.navbar.bootsnav.no-background{
  -moz-box-shadow:none;
  -o-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow: none;
}

nav.navbar.bootsnav .navbar-brand{
  display: inline-block;
  height: auto;
  margin-left: 0;
  padding:20px  0;
}
nav.navbar.bootsnav .navbar-brand, nav.navbar.bootsnav.navbar-fixed.no-background .navbar-brand{
  padding:20px  0;
}
nav.navbar.bootsnav.sticked .navbar-brand, nav.navbar.bootsnav.navbar-fixed .navbar-brand{
  padding:10px  0;
}
nav.navbar.bootsnav .navbar-brand img, nav.navbar.bootsnav.navbar-fixed.no-background .navbar-brand img{
	width:110px;
}
nav.navbar.bootsnav.sticked .navbar-brand img, nav.navbar.bootsnav.navbar-fixed .navbar-brand img{
	width:90px;
}
nav.navbar.bootsnav ul.nav > li{
	margin:0 20px;
}
nav.navbar.bootsnav ul.nav > li > a{
  color: #0f0f0f;
  font-size: 14px;
  font-weight:600;
  text-transform:uppercase;
  position:relative;
  overflow:hidden;
  font-family: 'Source Sans Pro';
}
nav.navbar.bootsnav ul.nav > li > a,
nav.navbar.bootsnav.navbar-fixed.no-background ul.nav > li > a{
	padding:34px 0;
}
nav.navbar.bootsnav.sticked ul.nav > li > a,
nav.navbar.bootsnav.navbar-fixed ul.nav > li > a{
	padding:20px 0;
}
nav.navbar.bootsnav ul.nav > li > a:hover,
nav.navbar.bootsnav ul.nav > li > a:focus,
nav.navbar.bootsnav ul.nav > li.active > a,
nav.navbar.bootsnav ul.nav > li.dropdown > .dropdown-toggle:hover,
nav.navbar.bootsnav ul.nav > li.dropdown.on > .dropdown-toggle{
	color:#ffb600 !important;
}

.dropdown-menu.animated, .collapse navbar-collapse .animated{
	-webkit-animation-duration:.5s;
	-o-animation-duration:.5s;
	-moz-animation-duration:.5s;
	-ms-animation-duration:.5s;
	animation-duration:.5s;
}
nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
  text-align: left;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border:none;
	-webkit-box-shadow:0 3px 3px -3px rgba(0,0,0,.35);
	-moz-box-shadow:0 3px 3px -3px rgba(0,0,0,.35);
	 box-shadow:0 3px 3px -3px rgba(0,0,0,.35);
}
nav.bootsnav .megamenu-content .title{
	font-size:1.125em;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a{
  font-size:inherit;
}
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover,
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:focus{
  color:#4587d9;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a,
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a,
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a,
nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title{
  color: #0f0f0f;
  text-transform:capitalize;
  border-bottom-color:rgba(15,15,15,.15);
}
nav.navbar.bootsnav ul.nav > li.dropdown .dropdown-menu .dropdown-toggle:hover,
nav.navbar.bootsnav ul.nav .dropdown-menu  li.dropdown.on .dropdown-toggle,
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:hover{
	color:#fff !important;
	background:#4587d9;
}

.navbar-right { margin-right:0; }
.navbar-right .dropdown-menu{
  left: 0;
  right: auto;
}
nav.bootsnav .megamenu-content{ border-radius:0 0px 4px 4px !important}
.search_btn {
  float: right;
  position: relative;
  border: 1px solid #0f0f0f;
  padding: 5px;
  font-size: 19px;
  line-height: 14px;
  margin:26px 0 0 15px;
  border-radius:5px; text-align:center;
  cursor:pointer;
}
.search_btn:hover, .search_btn:focus,
nav.navbar.bootsnav.navbar-fixed.no-background .search_btn:hover,
nav.navbar.bootsnav.navbar-fixed.no-background .search_btn:focus{
	color:#fff;
	border-color:#4587D9;
}
nav.navbar.bootsnav.navbar-fixed.no-background .search_btn{
	border-color:#fff;
	color:#fff;
	margin:26px 0 0 15px;
}
nav.navbar.bootsnav.sticked .search_btn,
nav.navbar.bootsnav.navbar-fixed .search_btn{
	margin-top:14px;
}


nav.navbar.bootsnav.no-full .navbar-collapse.in {
  min-height:280px !important;
}

/**Push Menu**/
/*Toggle*/
#menu_bars{
  padding:15px;
  width:20px;
  border-radius:4px;
  cursor: pointer;
  display:table;
  position:relative;
  z-index:1102;
  background:transparent;
  margin-top:20px;
}
nav.navbar.bootsnav.navbar-fixed.no-background  #menu_bars{ margin-top:20px;}
#menu_bars.left{
	left:30px;
	float:left;
}
#menu_bars.right{
	float:right;
}
#menu_bars.active{
	position:fixed;
	margin-top:0 !important;
	top:10px;
}
#menu_bars.active span{
	background:#000 !important;
}
#menu_bars.active.right{
	right:30px;
}
#menu_bars.active span.t1{
	-moz-transform: translateY(7px) rotate(-45deg);
	-ms-transform: translateY(7px) rotate(-45deg);
	-o-transform: translateY(7px) rotate(-45deg);
	-webkit-transform: translateY(7px) rotate(-45deg);
  transform: translateY(7px) rotate(-45deg);
}
#menu_bars.active span.t2{
  opacity: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#menu_bars.active span.t3{
	-moz-transform: translateY(-5px) rotate(-135deg);
	-ms-transform: translateY(-5px) rotate(-135deg);
	-o-transform: translateY(-5px) rotate(-135deg);
	-webkit-transform: translateY(-5px) rotate(-135deg);
  transform: translateY(-5px) rotate(-135deg);
}
#menu_bars span{
  background: #000;
  display: block;
  height:3px;
  width:20px;
  pointer-events: none;
}
nav.navbar.bootsnav.navbar-fixed.no-background #menu_bars span{
	background:#fff;
}

nav.navbar.bootsnav.sticked #menu_bars,
nav.navbar.bootsnav.navbar-fixed #menu_bars{
	margin-top:8px;
}
#menu_bars span.t2{
	margin: 3px 0;
}
/*this is the nav*/
.pushmenu-push{
  overflow-x: hidden;
  position: relative;
  left: 0;
}
.pushmenu{
  background: #fff;
  padding:20px 15px;
  width: 270px;
  height: 100%;
  top: 0;
  z-index: 1100;
  position:fixed;
  overflow:hidden;
}
.pushmenu.pushmenu-right{ padding:20px 20px 20px 40px;}
.pushmenu-left{
  left: -270px;
}
.pushmenu-left.pushmenu-open{
  left: 0;
  box-shadow:3px 0 3px -3px #c2c2c2;
}
.pushmenu-push-toright{
  left: 270px;
}
.pushmenu-right{
	right: -270px;
}
.pushmenu-right.pushmenu-open{
  right: 0;
  box-shadow:3px 0 3px 3px #c2c2c2;
}
.pushmenu-push-toleft{
  left: -270px;
}
.pushmenu .push-logo{
	display:block;
	padding:30px 0;
	position:relative;
	z-index:98;
}
.pushmenu .push-logo > img{
	display:inline-block;
	width:100px;
}
.pushmenu .push_nav{ width:100%; z-index:100; background:#fff;}
.pushmenu.pushmenu-right  .push_nav{ margin-left:30px;}
.pushmenu .push_nav > li{
	display:block;
	position:relative;
	-moz-transform:translate3d(100%, 0px, 0px);
	-ms-transform:translate3d(100%, 0px, 0px);
	-o-transform:translate3d(100%, 0px, 0px);
	-webkit-transform:translate3d(100%, 0px, 0px);
	transform:translate3d(100%, 0px, 0px);
	opacity:0;
}
.pushmenu.pushmenu-open .push_nav > li{
	-moz-transition-duration:.4s;
	-ms-transition-duration:.4s;
	-o-transition-duration:.4s;
	-webkit-transition-duration:.4s;
  transition-duration:.4s;

  transition-property: all;
  -moz-transform: translate3d(0, 0px, 0px);
  -ms-transform: translate3d(0, 0px, 0px);
  -o-transform: translate3d(0, 0px, 0px);
  -webkit-transform: translate3d(0, 0px, 0px);
  transform: translate3d(0, 0px, 0px);

  -moz-transition-timing-function:ease;
  -ms-transition-timing-function:ease;
  -o-transition-timing-function:ease;
  -webkit-transition-timing-function:ease;
  transition-timing-function:ease;
  opacity:1;
}
.pushmenu.pushmenu-open .push_nav > li:first-child{
	-moz-transition-delay:.1s;
	-ms-transition-delay:.1s;
	-o-transition-delay:.1s;
	-webkit-transition-delay:.1s;
  transition-delay:.1s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(2){
	-moz-transition-delay:.2s;
	-ms-transition-delay:.2s;
	-o-transition-delay:.2s;
	-webkit-transition-delay:.2s;
  transition-delay:.2s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(3){
	-moz-transition-delay:.3s;
	-ms-transition-delay:.3s;
	-o-transition-delay:.3s;
	-webkit-transition-delay:.3s;
  transition-delay:.3s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(4){
	-moz-transition-delay:.4s;
	-ms-transition-delay:.4s;
	-o-transition-delay:.4s;
	-webkit-transition-delay:.4s;
  transition-delay:.4s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(5){
	-moz-transition-delay:.5s;
	-ms-transition-delay:.5s;
	-o-transition-delay:.5s;
	-webkit-transition-delay:.5s;
  transition-delay:.5s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(6){
	-moz-transition-delay:.6s;
	-ms-transition-delay:.6s;
	-o-transition-delay:.6s;
	-webkit-transition-delay:.6s;
  transition-delay:.6s;
}
.pushmenu.pushmenu-open .push_nav > li:nth-child(7){
	-moz-transition-delay:.7s;
	-ms-transition-delay:.7s;
	-o-transition-delay:.7s;
	-webkit-transition-delay:.7s;
  transition-delay:.7s;
}

.pushmenu .push_nav > li > a{
	 display: block;
    color: #000;
	 font-size:20px;
    padding:5px;
	 margin:0 5px 18px 5px;
	 text-transform:capitalize;
}
.pushmenu .push_nav > li > a > span{
  color: #ffb600;
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  width: 30px;
}
.pushmenu .push_nav > li > a:hover span, .pushmenu .push_nav > li > a:focus span{
	margin-left:-10px;
}
.pushmenu .push_nav > li > a:hover, .pushmenu  .push_nav > li > a:focus,
.pushmenu .push_nav > li.active > a{
}
.pushmenu .push_nav .dropdown > a{ margin-top:0;}
.pushmenu .push_nav .dropdown-menu{
    position: relative;
    width: 100% !important;
    padding: 0;
    margin:0 0 0 15px;
    border-radius: 0;
    border: none;
    background-color:#fff;
}
.pushmenu  .push_nav .dropdown-menu li a{ display:block; color: #000;}
.pushmenu  .push_nav .dropdown-menu li:first-child a{ border-top:1px solid #e1e1e1;}
.pushmenu  .social_icon{ position:absolute; bottom:0; left:40px; right:0;}

body.pushmenu-push-toleft .wrap-sticky nav.navbar.bootsnav.navbar-sticky,
body.pushmenu-push-toleft .wrap-sticky nav.navbar.bootsnav.sticked, body.pushmenu-push-toleft .navbar-fixed.white{
    left: -260px;
}
body.pushmenu-push-toright .wrap-sticky nav.navbar.bootsnav.sticked{
    right: -260px;
}





/* ---------- Revolution Slider ---------- */
#rev_slider h1, #rev_slider p,
#rev_slider_full h1, #rev_slider_full p,
#rev_slider_video h1, #rev_slider_video p{
	color:#fff;
}
#rev_slider h1{
	font-size:3.000em;
}
#rev_slider p,
#rev_slider_full p,
#rev_slider_video p{
	font-size:1.125em;
	line-height:normal !important;
}
#rev_slider a, #rev_slider_full a, #rev_slider_video a{
	display:inline-block;
	margin:5px;
	font-size:15px;
}
#rev_slider_video .rs-fullvideo-cover {
  background: rgba(0, 0, 0, 0.5);
  right:0; bottom:0; left:0; top:0;
}
.tp-caption{
	padding-left:15px;
	padding-right:15px;
}
/*arrows Slider*/
.tparrows{
  background:#ffb600 !important;
  -webkit-border-radius:100%;
  border-radius:4px;
  transform:none;
  position:absolute;
  right:0;
}
.tparrows::before {
  color: #fff;
  display: block;
  font-family:'FontAwesome';
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}
.tparrows.tp-leftarrow:before {
  content: "\f104";
}
.tparrows.tp-rightarrow:before {
  content: "\f105";
}
.tp-leftarrow, .tp-rightarrow{
	margin:5px;
}
.tparrows.tp-leftarrow:hover, .tparrows.tp-rightarrow:hover,
.tparrows.tp-leftarrow:focus, .tparrows.tp-rightarrow:focus{
	background:#4587d9 !important;
}
.tparrows:hover::before, .tparrows:focus::before{
	color: #fff;
}
/* ---------- Revolution Slider ends ---------- */


/* ---------- OWL Slider ---------- */
.slider_wrapper{
	margin-left:-15px;
	margin-right:-15px;
}
#course_slider .item,
#director_slider .item,
#news_slider .item{
	padding:0 15px;
}

.owl-theme .owl-controls .owl-buttons div{
  background:#fff;
  border: 1px solid #b1bec7;
  border-radius:4px;
  color:#b5b5b5;
  font-size: 20px;
  height: 36px;
  line-height: 36px;
  opacity: 1;
  padding: 0;
  position: absolute;
  text-align: center;
  top: -88px;
  width: 36px;
  overflow:hidden;
  z-index:1;
}
#course_slider.owl-theme .owl-controls .owl-buttons div{
	background:transparent;
}
.owl-theme .owl-controls .owl-buttons div:hover, .owl-theme .owl-controls .owl-buttons div:focus,
#course_slider.owl-theme .owl-controls .owl-buttons div:hover,
#course_slider.owl-theme .owl-controls .owl-buttons div:focus{
	background:#ffb600;
	border: 1px solid #ffb600;
	color:#fff;
}
#course_slider .owl-prev,
#director_slider .owl-prev,
#news_slider .owl-prev{
	right:54px;
}
#course_slider .owl-next,
#director_slider .owl-next,
#news_slider .owl-next{
	right:10px;
}

/** Review from people **/
#review_slider .owl-page span,
#text_rotator .owl-page span{
	position:relative;
	background:#797979;
	opacity:1;
	height:10px; width:10px;
	border-radius:3px;
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}
#review_slider .owl-page span:after,
#text_rotator .owl-page span:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	left: 0;
	border-radius:4px;
	background: #ffb600;
	-webkit-transform: translateY(200%);
	transform: translateY(200%);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
}
#review_slider .owl-page.active span:after,
#review_slider .owl-page span:hover::after,
#text_rotator .owl-page.active span:after,
#text_rotator .owl-page span:hover::after{
	opacity: 1;
	visibility: visible;
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
#review_slider{ position:relative;}
#review_slider:before{
	content:url(../images/quoteLeft.png);
	left:0;
}
#review_slider:after{
	content:url(../images/quoteRight.png);
	right:0;
}
#review_slider:before, #review_slider:after{
	position:absolute;
	display:inline-block;
	top:50%;
	margin-top:30px;
}
#review_slider h4{
	color:#ffb600;
	font-weight:bold;
}
#review_slider p{
	margin:0 10% 40px 10%;
}
#review_slider img.client_pic{
	border:3px solid #d4dfe8;
	margin:25px 0;
}
/** News white box **/
.content_wrap .news_box{
  background: #fff;
  margin: -50px auto 0;
  padding: 20px 15px;
  padding-bottom:0;
  position: relative;
  width: 92%;
  z-index: 1;
}
.content_wrap .news_box h4{
	font-weight:bold;
}
.content_wrap .news_box .commment li{
	margin-bottom:10px;
	margin-top:10px;
}

#director_slider .post, .teacher .post{
	background:rgba(48,111,190,.75);
	color:#fff;
	font-size:0.875em;
	padding:5px 15px;
	position:absolute;
	right:-100%;
	bottom:0;
	border-bottom-right-radius:4px;
	opacity:0;
}
#director_slider .item:hover .post, .teacher:hover .post{
	opacity:1; right:0;
}

#text_rotator_parent{
  background:url(../images/text-rotator.jpg) no-repeat;
  width:100%;
  background-position:center center;
  background-size:cover;
}
.rotate_caption{
	padding:10% 1%;
}
#text_rotator h1, #text_rotator p{ color:#fff;}
#text_rotator p{
	margin:10px 0 0 0;
	font-size:18px;
}
#text_rotator a{
	margin:30px 3px 5px 3px;
}
/* ---------- OWL Slider ends ---------- */



/* ----- ABout US ----- */
.icon_wrap{ border-bottom:1px solid #cfcfcf;}
.icon_box{
	padding-top:20px;
	padding-bottom:20px;
}
.icon_box i{
  display: inline-block;
  font-size:44px;
  color:#ffb600;
  position:relative;
}
.icon_box:hover i, .about-post:hover a > img{
	-moz-animation-name: fadeInUp;
	-webkit-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
  animation-name: fadeInUp;

  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  animation-delay: 0s;
  -moz-animation-duration:.7s;
  -ms-animation-duration:.7s;
  -o-animation-duration:.7s;
  -webkit-animation-duration:.7s;
  animation-duration:.7s;
}
.icon_box:hover i, .icon_box:nth-child(2n+1):hover i, .icon_box:hover p{
	color:#fff;
}
.icon_box:nth-child(2n+1) i{
	color:#4587d9;
}
.icon_box:hover{
	background:#4587d9;
	color:#fff;
	cursor:pointer;
	border-radius:4px;
}

.icon_box i,
#about .priorty .about-post,
.contact_address .address,
#about .priorty .about-post a,
.contact_address .address .icon,
#about .priorty .about-post a > img{
	display:inline-block;
}

.icon_box h4{ font-size:1.250em;}

#about .priorty .about-post,
.contact_address .address{
  margin-top:15px;
  overflow: hidden;
}
#about .priorty .about-post a,
.contact_address .address .icon{
  background:#ffb600;
  float: left;
  height: 60px;
  width: 64px;
  text-align: center;
  font-size:35px;
  line-height:50px;
}
#about .priorty .about-post h4, .contact_address .address h4{
  margin:10px 0 0 80px;
}
#about .priorty .about-post p, .contact_address .address p{
  display: block;
  margin: 0 0 0 80px;
}

/** Commpany History **/
#history{}
#history .history_wrap{
	overflow:hidden;
}
#history .history_wrap h3{
	margin-bottom:10px;
}
#history .history_wrap p{ font-size:14px;}
#history .history_wrap h3 > span{
	color:#ffb600;
}
#history .history_wrap .col-md-7{
	padding-left:0;
}

#tours{}
.tour_media{
	background:#fff;
	overflow:hidden;
	margin-bottom:15px;
}
.tour_media .tour_body, .tour_media .tour_feature{
	display:table-cell;
}
.tour_media .tour_body{
	padding:20px 10px 10px 20px;
}
.tour_media .tour_feature{
  vertical-align: middle;
}


/* ----- ABout US ----- */



/* ----- Fun Facts ----- */
#facts{}
.number-counters{}
.number-counters .counters-item{
	margin:30px 0;
	text-align:center;
}
.number-counters .counters-item i{
	color:#4587d9;
	display: block;
	font-size:50px;
	margin-bottom:10px;
}
.number-counters .counters-item strong {
  font-size: 3.000em;
  line-height: 3.000em;
}
.number-counters .counters-item p{
	font-size:1.125em;
}
#facts .fact-image{
	width:100%;
}

#counter .number-counters .counters-item {
  margin-bottom: 0;
}
#counter .number-counters .counters-item i {
  color: #ffb600;
  display: block;
}
/* ----- Fun Facts ends ----- */



/* ----- Paralax  ----- */
#parallax{
	background:url(../images/parallax2.jpg) no-repeat;
	padding:10% 0;
}
#courses{
	background:url(../images/parallax1.jpg) no-repeat;
}
.page_header{
	background:url(../images/page-tittle.jpg) no-repeat;
}
#counter{
	background:url(../images/counter.jpg) no-repeat;
}
#courses , #parallax, .page_header, #counter{
	background-size:cover;
	width:100%;
	background-attachment:fixed;
	background-position:center center;
}
#parallax, #courses, #courses p, #counter, #counter p{
	color:#fff;
}
#parallax h1{
	font-size:6.563em;
	color:#ffb600;
}
/* ----- Paralax  ----- */



/* ----- Pricings ----- */
.pricing {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
}

.pricing .pricing_item{
	position: relative;
	margin: 1em;
	padding: 2em 1em;
	border-top: 3px solid;
	margin-top:0;
	text-align:left;

	display: -webkit-flex;
	display:-moz-display;
	display:-o-display;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: stretch;
	-o-align-items: stretch;
	-ms-align-items: stretch;
	-moz-align-items: stretch;
	align-items: stretch;

}
.pricing.three .pricing_item, .pricing .pricing_item{
	-webkit-flex: 0 1 330px;
	-moz-flex: 0 1 330px;
	-ms-flex: 0 1 330px;
	-o-flex: 0 1 330px;
	flex: 0 1 330px;
}
.pricing.four .pricing_item{
	-webkit-flex: 0 1 240px;
	-moz-flex: 0 1 240px;
	-ms-flex: 0 1 240px;
	-o-flex: 0 1 240px;
	flex: 0 1 240px
}
.pricing.two .pricing_item{
	-webkit-flex: 0 1 420px;
	-moz-flex: 0 1 420px;
	-ms-flex: 0 1 420px;
	-o-flex: 0 1 420px;
	flex: 0 1 420px
}


.pricing_item.active:hover, .pricing_item:hover{
	border-color:#ffb600;
}
.pricing_item.active{
	border-color:#4587d9;
}
.pricing_item h3{
	margin: 0 0 1em;
}
.pricing_item .pricing_price{
	font-size: 2em;
	padding: 0.5em 0 0.75em;
	border-top:1px solid rgba(139, 144, 157, 0.18);
}
.pricing_item .pricing_price, .pricing_item .pricing_sentence{
	color:#5b5b5b;
}
.pricing_item .pricing_currency{
	font-size: 0.5em;
	vertical-align: super;
}
.pricing_item .pricing_sentence{
	padding-bottom:0.5em;
	border-bottom:1px solid rgba(139, 144, 157, 0.18);
}
.pricing_list {
	font-size:14px;
	padding:25px 0;
	color: #5b5b5b;
}
 .pricing_list li{
	margin-bottom:8px;
}
 .pricing_list li:before{
	content:'\f00c';
	font-family:'FontAwesome';
	display: inline-block;
   margin-right:10px;
   vertical-align: middle;
	color:#ffb600;
}
.pricing_item a{
	display:block;
	background:#797979;
	color:#fff;
	border-radius:4px;
	padding:13px 20px;
}
.pricing_item.active:hover a, .pricing_item:hover a{
  background:#ffb600;
}
.pricing_item.active a{
  background:#4587d9;
}
/* ----- Pricings ends ----- */


/* ----- Courses ----- */
.detail_course{ background:#f2f2f2; padding:20px 15px;}
.detail_course .info_label {
  color:#5b5b5b;
  display: inline-block;
  margin-right: 20px;
}
.detail_course .icony{
	height:32px; width:32px;
	border-radius:50%;
	background:#ffb600;
	color:#fff;
	display:inline-block;
	float:left; line-height:32px;
	font-size:18px; text-align:center;
}
.detail_course p, .detail_course h5{ margin-left:42px;}
.detail_course p{ font-size:0.813em; margin-bottom:0;}
.detail_course h5{ font-size:0.875em; font-weight:bold;}
.detail_course .info_label:last-child{
	margin-right:0;
}
.detail_course .info_label:last-child p{
	margin-left:0;
}
.widget .media{
	border-bottom:1px solid #d5d5d5;
	padding-bottom:20px; margin-bottom:20px;
}
.widget .media h5{ font-weight:bold; font-size:0.875em; text-transform:uppercase;}
.widget .media .btn-primary{
	font-size:12px;
	padding:5px 10px;
	font-weight:bold;
	text-transform:uppercase;
	background:#4587d9;
}
.name{ font-size:0.813em; display:block;}
.widget .media .btn-primary, .widget .media form{ display:inline-block;}
.logged{ color:#4587d9;}
.logged:hover, .logged:focus{ color:#ffb600;
}
#course_all .course h3{
	font-size:1.4em;
}
.course:hover .btn_common.yellow{
	border-color:#4587d9;
}
.course:hover .btn_common.yellow:after{
	opacity:1;
	height:101%;
}
/* ----- Courses ----- */



/* ----- Gallery ----- */
.cbp-l-filters-alignRight .cbp-filter-item.cbp-filter-item-active,
.cbp-l-filters-alignRight .cbp-filter-item:hover, .cbp-l-filters-alignRight .cbp-filter-item:focus{
	color:#4587d9;
	background:transparent;
}
.cbp-l-filters-alignRight .cbp-filter-item{
	color:#5b5b5b;
	font-weight:bold;
	font-size:0.875em;
	border:none; overflow:hidden !important;
	padding:0;
	margin:0 8px 10px 8px;
}
.cbp-l-filters-alignRight .cbp-filter-item:before{
  color:#4587d9;
  content: attr(data-hover);
  left:0; top:0;
  max-width: 0;
  overflow: hidden;
  position: absolute;

  -moz-transition:max-width 0.5s ease 0s;
  -ms-transition:max-width 0.5s ease 0s;
  -webkit-transition:max-width 0.5s ease 0s;
  -o-transition:max-width 0.5s ease 0s;
  transition:max-width 0.5s ease 0s;
}
.cbp-l-filters-alignRight .cbp-filter-item:hover::before, .cbp-l-filters-alignRight .cbp-filter-item:focus::before{
  max-width: 100%;
}

.overlay{
  background-color: rgba(15, 15, 15, 0.6);
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  position: absolute;
  opacity:0;
  z-index: 99;
  height:100%; width:100%;
  left:0; top:0;
}
.cbp-item:hover .overlay, .shopping_box:hover .overlay{
  opacity:1;
}
.cbp-item{ position:relative;}
.centered{
	position:absolute;
	left:50%; top:50%;
	padding:5px;
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.overlay .opens{
	height:70px; width:70px;
	display:inline-block;
	background:#4587d9;
	color:#fff; font-size:30px;
	text-align:center;
	line-height:72px;
	-moz-transform:rotate(50deg) scale(1.5);
	-ms-transform:rotate(50deg) scale(1.5);
	-o-transform:rotate(50deg) scale(1.5);
	-webkit-transform:rotate(50deg) scale(1.5);
	transform:rotate(50deg) scale(1.5);
}
.cbp-item:hover .overlay .opens{
	border-radius:100%;
	-moz-transform:rotate(0) scale(1);
	-ms-transform:rotate(0) scale(1);
	-o-transform:rotate(0) scale(1);
	-webkit-transform:rotate(0) scale(1);
	transform:rotate(0) scale(1);
}
/* ----- Gallery ends ----- */





/**------ Page Header -------**/
.page_header .page-content{
	position:relative;
}
.page_header .page-content h1{
	font-size:2.625em;
}
.page_header .page-content h1, .page_header .page-content p{
	color:#fff;
}
.page_header .page-content .page_nav {
  background: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  bottom: 0;
  padding: 18px 40px 10px;
  display:inline-block;
  margin-top:80px;
  color:#7f7f7f;
  font-size:0.875em;
  float:right;
}
.page_header .page-content .page_nav a{
	display:inline-block;
	margin:0 10px;
	color:#0b0b0b;
}
.page_header .page-content .page_nav span i{
	margin-right:5px;
}
/**-------Page Header ends------**/


/**-------Events------**/
.events:hover h4 a, .news_box:hover h4 a,
.course:hover h3 > a,
#course_slider .item:hover h3 a{
   color:#4587d9;
}
/**------- Events ends------**/



/* --------------------- FAQ's --------------------- */
.faq_content .items > li > a{
  background:#fff;
  color: #0f0f0f;
  display: block;
  margin-bottom: 10px;
  padding:15px 10px 15px 55px;
  position:relative;
  border:1px solid #d5d5d5;
}
.faq_content .items > li > a:hover, .faq_content .items > li > a.expanded{
	background:#4587d9;
	color:#fff;
}
.faq_content .items > li > a:after{
  background: #fff;
  content: "\f105";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 20px;
  height: 100%;
  left: 0;
  line-height: 30px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  width:40px;
  border-right:1px solid #d5d5d5;
}
.faq_content .items > li > a.expanded:after, .faq_content .items > li > a:hover::after{
	background:#ffb600;
	border-color:#ffb600;
}
.faq_content .sub-items {
  display: none;
  padding:20px 15px;
  border:1px solid #d5d5d5;
  border-top:none;
  margin-bottom:10px;
}
.faq_content .sub-items p{ margin:0; }
faq_content .tab_drawer_heading:after{
  content: "\f107";
  display: inline-block;
  right:20px;
  position:absolute;
  font-family:'FontAwesome';
}
.faq_content .items > li > a.expanded{
  margin-bottom:0;
}
.faq_content .items > li > a.expanded:after
.faq_content .tab_drawer_heading.d_active:after{
  content: "\f106";
}
/* --------------------- FAQ's --------------------- */




/* --------------- BLOG ---------------  */
#blog .blog_item, #blog .blog_share{
	border-bottom:1px solid #cccccc;
}
#blog .blog_item:last-child{
	border-bottom:none;
}




#blog .blog_newest{
	border:1px solid #cccccc;
	padding:5px;
}
#blog .blog_newest .post_img{
	height:65px;
	width:65px;
	display: table-cell;
	vertical-align:middle;
}
#blog .blog_newest .link{
	font-size:0.875em;
	display: block;
}
#blog .blog_newest .post_title {
  display: inline-block;
  font-weight: bold;
  line-height: 18px;
  margin-top: 5px;
}
#blog .blog_newest .post_title:hover{
	color:#ffb600;
}
#blog .blog_newest .text{
	display: table-cell;
	padding:0 10px;

}

.blog-reply {
	padding-bottom:25px;
  position: relative;
  border-bottom:1px solid #d1d1d1;
}
.blog-reply h4, .blog-reply .reply{
	text-transform:uppercase;
}
.blog-reply span{
	font-size:12px;
	color:#767676;
}
.blog-reply .reply{
	color:#ffb600;
	font-size:0.813em;
}
.media-left, .media > .pull-left {
  padding-right: 10px;
}
/*Form Used on many pages*/
form.findus{}
form.findus > .row{
	margin-left:-5px;
	margin-right:-5px;
}
form.findus  .col-md-4, form.findus .col-sn-4, form.findus  .col-md-12,
form.findus  .col-md-6, form.findus .col-sm-6,
form.findus  .col-md-3, form.findus  .col-sm-3{
	padding-left:5px;
	padding-right:5px;
}
form.findus .form-control{
  height: 48px;
  width: 100%;
}
form.findus .form-group{
	width:100%;

}
form.findus .form-control, form.findus textarea{
	padding: 12px 15px;
	margin-bottom:10px;
	font-size:14px;
	border:1px solid #d1d1d1;
}
form.findus textarea{
	width:100%;
	min-height:210px;
}
/* --------------- BLOG ---------------  */



/* ------------------ SHOP ------------------ */
#shop .shopping_box {
  box-shadow: 0 0 2px #d1d1d1;
  min-height: 386px;
}
.shopping_box .shop_content{
	padding:15px;
}
.shopping_box .shop_content .price_product, .shop_info .price_product, .cart_table .price_product{
	color:#ffb600;
}
.shopping_box a.btn-cart{
	position:absolute;
	left:50%; margin-left:-75px;
	width:150px; bottom:10px;
	-moz-transform:scale(1.3);
	-ms-transform:scale(1.3);
	-o-transform:scale(1.3);
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
.shopping_box:hover a.btn-cart{
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	-webkit-transform:scale(1);
	transform:scale(1);
}
.shopping_box:hover a.title_link{
	color:#ffb600;
}

#shop .shop_info{}
.quote .quote {
  border: 1px solid #d1d1d1;
  margin-right: 10px;
  max-width: 50px;
  padding:8px 10px;
  text-align: center;
  vertical-align: top;
}
.quote .quote, .quote a{
	display: inline-block;
}
.share{
	border-bottom:1px solid #d1d1d1;
	border-top:1px solid #d1d1d1;
	padding:10px 0;
}
.share p{
	margin:0;
}
.share ul{}
.share ul li{
	display:inline-block;
}
.share ul > li a{
  display: block;
  padding:0px 5px;
  color:#616161;
  font-size:14px;
}
.share ul > li a:hover, .share ul > li a:focus{
	color:#ffb600;
}
.shop_info .tag_cate{
	font-size:14px;
	color:#616161;
}
.shop_tab {
  border: 1px solid #d1d1d1;
}
.shop_tab .tabs {
  background: #f9f9f9;
  width: 100%;
}
.shop_tab .tabs li {
  border-bottom: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  margin:0;
  margin-bottom: -1px;
  margin-right:-4px;
  padding: 20px;
}
.shop_tab .tabs li.active, .shop_tab .tabs li:hover, .shop_tab .tabs li:focus{
	color:#ffb600;
	background:#fff;
}
.shop_tab .tab_content {
  border-top: 1px solid #d1d1d1;
  padding: 20px;
  width: 100%;
}
.product-info .tab_content p:last-child {
  margin-bottom: 0;
}
.cart_table table{
	margin-bottom:0;
}
.cart_table .table-responsive  thead {
	background:#f9f9f9;
}
.cart_table .table-responsive  thead  tr > th{
	padding:15px 20px;
	border-bottom-width: 1px;
}
.cart_table .table-responsive tbody tr > td{
  vertical-align: middle;
  padding:20px;
}
.cart_table .product-name{
  display: inline-block;
  vertical-align: middle;
}
.cart_table .btn-close{
	display:inline-block;
	color:#ff5b5b;
	font-size:20px;
}
.apply_coupon{
	border: 1px solid #d1d1d1;
	border-top:none;
	padding:20px;
}
.apply_coupon .coupon{
}
.apply_coupon .coupon > form input[type="submit"]:hover, .apply_coupon .coupon > form input[type="submit"]:focus{
	background:#FDB501;
	border-color:#FDB501;
}
.apply_coupon .coupon > form input {
  border: 1px solid #d1d1d1;
  padding:6px 12px;
  vertical-align: top;
  height:40px;
}
.apply_coupon .coupon > form .form-group > input{
	width:100%;
}

.apply_coupon .coupon a {
  display: inline-table;
}
.totals{
	padding:15px;
}
.total_form input{
	height:40px;
}

.totals, .total_form .select{
	border: 1px solid #d1d1d1;
}
.total_form .select {
    border: 1px solid #d1d1d1;
    overflow: hidden;
    height: 40px;
    width:100%;
    position: relative;
    display: block;
}
.total_form select{
    height: 40px;
    padding: 5px;
    border: 0;
    width:100%;
	 color:#555;
	 opacity:.6;
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.total_form .select:after {
    content:"\f0d7";
    font-family: FontAwesome;
    color:#555;
	 font-size:16px;
    padding:9px 8px;
	 padding-right:0;
    position: absolute; right: 0; top: 0;
    background:transparent;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}
.totals .table-responsive tr > td {
  border: none;
  color:#737373;
  padding:17px 10px;
}
.totals .table-responsive tr > td.yellow_t{
	color:#ffb600;
}
/* ------------------ SHOP ------------------ */



/* ------- 404 ------ */
#error{}
#error .error{
	position:relative;
}
#error .error h1{
	position:relative;
	color:#ebebeb;
	font-size:9.375em;
}
#error .error h2{
  font-size: 3.125em;
  left:50%; top:50%;
  position:absolute;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* ------- 404 ------ */




/* --------------- testimonialS --------------- */
.testimonial_wrap{}
.testimonial_wrap .testimonial_text{
	padding:20px 18px;
	position:relative;
	background:#4587d9;
}
.testimonial_wrap .testimonial_text p{ color:#fff; font-size:0.938em; }
.testimonial_wrap .testimonial_text::after {
  border-right: 30px solid transparent;
  border-top: 25px solid #4587d9;
  bottom: -25px;
  content: "";
  height: 0;
  left:18px;
  position: absolute;
  width: 0;
}
.testimonial_wrap .testimonial_text > .quote{
	width:auto;
	margin-bottom:15px;
}
.testimonial_wrap .testimonial_pic{
  margin-top: 30px;
  width: 100%;
}
.testimonial_wrap .testimonial_pic > img{
	width:60px;
	float:left;
	margin-right:10px;
}
.testimonial_wrap .testimonial_text > .quote, .testimonial_wrap .testimonial_pic,
.testimonial_wrap .testimonial_pic > img{
	display:inline-block;
}
.testimonial_wrap .testimonial_pic span{
	display:block;
}
.testimonial_wrap .testimonial_pic span.color{
	margin-top:9px;
}
.testimonial_wrap .testimonial_pic span.post_img{
	color:#646464;
	font-size:0.875em;
}
/* --------------- TestimonialS ends --------------- */



/* --------------- CONTACT US --------------- */
#contact{}
#contact .contact_img{}
#contact .contact_img > img{
	display:block;
	width:100%;
}
#contact .contact_img .caption-number{
	background:rgba(255,182,0,0.9);
   padding:15px;
}
#contact .contact_img .caption_link, #contact .contact_img .caption-number {
  display: block;
  font-size: 1.125em;
  text-align: center;
  color:#fff;
}
.contact_address .address .icon{
  line-height: 60px;
}

#contact .contact_address{}
.contact_address .address p > a:hover, .contact_address .address p > a:focus{
	color:#ffb600;

}

/*Map*/
#map{
  display: block;
  width: 100%;
  height:400px;
}
.overlay_map{
  display:block;
  text-align:center;
  color:#4587d9;
  font-size:3.750em;
  line-height:80px;
  opacity:1;
  background:transparent;
  padding:0 4px;
}


/* --------------- FOOTER ---------------*/
footer{
	background:#526175;
}
.footer_panel .divider-left{
	background:#fff;
}
footer, footer p, .footer_panel ul.social_icon li a, .copyright, .copyright p{
	color:#fff;
}
footer .footer_panel h3{
	display:block;
}
footer .footer_panel .footer_logo {
  display: inline-block;
}
footer .footer_panel p.address, .services p.address{
  margin-left:25px;
  margin-bottom:15px;
}
footer .footer_panel p.address a:hover{
	color:#ffb600;
}
footer .footer_panel p.address > i, .services p.address > i{
  display: inline-block;
  font-size:19px;
  margin-left: -30px;
  vertical-align: middle;
  width:25px;
}
.copyright{
	background:#306fbe;
	width:100%;
	padding:24px 0;
}
.copyright p{
	margin:0;
	font-size:0.875em;
}
.copyright p > a:hover{
   color:#ffb600;

}






@media screen and (max-width:1024px){
#history .history_wrap .col-md-7{
  padding-left: 15px;
}
.pricing .pricing_item{ margin:1em .5em;}
.pricing.three .pricing_item, .pricing .pricing_item{
	-webkit-flex: 0 1 220px;
	-o-flex: 0 1 220px;
	-moz-flex: 0 1 220px;
	-ms-flex: 0 1 220px;
	flex: 0 1 220px;
}

.pricing.two .pricing_item {
  -webkit-flex: 0 1 320px;
	-o-flex: 0 1 320px;
	-moz-flex: 0 1 320px;
	-ms-flex: 0 1 320px;
	flex: 0 1 320px;
}

}
@media screen and (max-width:1024px){
nav.navbar.bootsnav.navbar-fixed .logo-display,
nav.navbar.bootsnav.navbar-fixed .navbar-brand > .logo-display,
.logo-display{
  display: none !important;
}
}
@media screen and (max-width:992px){
	body{
		font-size:90%;
	}
  /*h2 {font-size: 26px;}
  h3 {font-size:20px;}
  h4 {font-size: 16px;}
  p,  #text_rotator p{ font-size:14px;}*/


nav.navbar.bootsnav .navbar-toggle{
  float: right;
  margin:12px 0 0 15px;
  background-color:transparent !important;
}
nav.navbar.bootsnav .navbar-brand{
	float:left !important;
}
nav.navbar.bootsnav .navbar-brand, nav.navbar.bootsnav.navbar-fixed.no-background .navbar-brand {
  padding:10px 0;
}
nav.navbar.bootsnav .navbar-brand img, nav.navbar.bootsnav.navbar-fixed.no-background .navbar-brand img.logo-scrolled, .navbar-brand img{
  width:80px;
}
nav.navbar.bootsnav.pushy .navbar-toggle{ display:none;}
nav.navbar.bootsnav .navbar-header{
  padding-left:15px;
  padding-right:15px;
}
nav.navbar.bootsnav ul.nav > li{ margin:0;}
nav.navbar.bootsnav ul.nav > li > a{
	padding:10px 0 !important;
}
nav.bootsnav .megamenu-content .title{
  font-size: 14px;
}
.search_btn{ margin-top:17px !important;}
.bootsnav.no-background .search_btn > span{
    border-color: #0f0f0f;
    color: #0f0f0f;
}
nav.navbar.bootsnav.navbar-fixed.no-background #menu_bars span{
	background:#0f0f0f;
}
nav.navbar.bootsnav.navbar-fixed.no-background #menu_bars span{ background:#000;}
nav.navbar.bootsnav.navbar-fixed.no-background #menu_bars,
nav.navbar.bootsnav #menu_bars{
  margin-top: 8px;
}
.pushmenu .push_nav > li > a{
	font-size:14px;
	padding:0;
}
#counter .number-counters .counters-item{
  margin-bottom: 30px;
}
#courses , #parallax, .page_header, #counter{
	background-position:center center !important;
}
.detail_course .info_label:last-child{
	display:block;
	margin-top:20px;
}
.single_post{
	font-size:12px;
}

}

@media screen and (max-width:767px){
.tparrows, .topbar, .search_btn,
.owl-theme .owl-controls .owl-buttons div,
#review_slider:before, #review_slider:after{
  display: none;
}
.pushmenu .push-logo{
  padding: 0;
}
.pushmenu .push-logo > img{
  width: 80px;
}
.rotate_caption{
   padding:5% 1%;
}
.icon_box{
	margin-left:15px;
	margin-right:15px;
}
#about .about_box{
  top: 0;
  margin-left: -15px;
  margin-right: -15px;
}
#about .about_box:nth-child(3){
	margin-bottom:50px;
}
.about_box.active{
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
   transform: translateY(0);
}
#about .priorty{
	margin-bottom:20px;
}
#history .history_wrap h3{
  margin-top: 10px;
}
/* Fun Facts */
.number-counters .counters-item{
  text-align: center;
}
.number-counters .counters-item.last{
	margin-bottom:0;
}
.number-counters .counters-item i{
	display:block;
}
/* Paralax */
#parallax h1{
  margin-bottom: 10px;
}
.pricing.two .pricing_item, .pricing.four .pricing_item, .pricing.three .pricing_item{
	-webkit-flex: 0 1 320px;
	-moz-flex: 0 1 320px;
	-ms-flex: 0 1 320px;
	-o-flex: 0 1 320px;
	flex: 0 1 320px
}
 #shop .shop_info{ margin-top:20px;}
.shop_tab .tabs li{ font-size:12px;}
#map{ height:290px;}
.footer_logo.bottom25 > img {
  width: 90px;
}

}

@media screen and (max-width:590px){
	#text_rotator p{ display:none;}
	#text_rotator a{ padding:8px 18px; font-size:12px;}
}
@media screen and (max-width:540px){
.tour_media .tour_body, .tour_media .tour_feature{
  display: block;
  padding:20px 15px;
}
.tour_media .tour_feature > img{ width:100%; display:block;}
.faq_content .items > li > a{ font-size:12px;}
}

@media screen and (max-width:480px){


.page_header .page-content .page_nav{
  width: 100%;
}
.scrollToTop{
	right:15px;
}
.rating_progress .progress{ width:180px;}
.copyright .col-md-12.text-center{
	text-align:left;
}


}

@media screen and (max-width:479px){
	body{
		font-size:80%;
	}
  .profile .p_pic, .profile .profile_text{
     display: block;
  }
  .profile .p_pic{ margin-bottom:15px;}
  .detail_course .info_label{
	  margin:0 20px 15px 0;
	  display:block;
}
.apply_coupon .coupon.text-right{ text-align:left;}
.apply_coupon .coupon .btn_common { margin-bottom:15px;}
}
.navbar-fixed.white.no-background{ top:auto;}
.navbar-fixed.white{ top:0;}


.container .padding-bottom .contact_address .heading img {
    border-radius: 50% !important;
}